/* Search Bar */
.searchBar input {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    height: 2rem;
    margin-right: 1rem;
    padding: 0.5rem;
}
.searchBar input::placeholder {
    color: #ffffff;
}
.searchBar button {
    background-color: #02afc7;
    border-radius: 4px;
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 900;
    height: 2rem;
    margin-right: 1rem;
    text-transform: uppercase;
    padding: 0 0.8rem;
}