/* Search Bar */
.searchBar input {
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 4px;
    height: 25px;
    margin-right: 1rem;
    padding: 0.5rem;
}
.searchBar button {
    background-color: #ffffff;
    border-radius: 4px;
    color: #000000;
    height: 25px;
    padding: 0 0.5rem;
}